.logo {
  display: flex;
  align-items: center;
  margin-bottom: 17px;

  color: $white;
  font-weight: $font-bold;
  font-size: 11px;

  line-height: 1em;
  text-decoration: none;
}

@media (min-width: $desktop-viewport) {
  .logo {
    margin-bottom: 0;
  }
}
