@media (min-width: $desktop-viewport) {
  .mobile-app {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .mobile-img {
    margin-right: 123px;
    margin-bottom: 0;
  }

  .mobile-text {
    width: 50%;
    margin-top: 16px;
    margin-right: auto;
  }
}
