.similar-item {
  width: 137px;

  text-align: center;
}

.similar-img {
  margin-bottom: 18px;
}

@media (min-width: $desktop-viewport) {
  .similar-item {
    width: 250px;
  }

  .similar-img {
    width: inherit;
    height: auto;
  }
}
