.similar-artists {
  display: grid;
  grid-row-gap: 25px;
  grid-column-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
}

.similar-item {
  width: 137px;

  text-align: center;
}

.similar-img {
  margin-bottom: 18px;
}

@media (min-width: $desktop-viewport) {
  .similar-artists {
    grid-template-columns: repeat(4, 1fr);
  }

  .similar-artists-title {
    font-size: $title-size-desktop;
  }

  .similar-item {
    width: 250px;
  }

  .similar-img {
    width: inherit;
    height: auto;
  }
}
