.relative {
  position: relative;
}

.half-left {
  left: 50%;
}

.translate-left-50 {
  transform: translateX(-50%);
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mr-16 {
  margin-right: 16px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-23 {
  margin-bottom: 23px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-16 {
  margin-bottom: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.pt-100 {
  padding-top: 100px;
}

.grid-w-100 {
  grid-column: 1 / -1;
}

.w-100 {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.fs-13 {
  font-size: 13px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: $font-size;
}

.fs-30 {
  font-size: 30px;
}

.fs-32 {
  font-size: 32px;
}

.fs-64 {
  font-size: 64px;
}

.lh-150 {
  line-height: $line-height;
}

.white {
  color: $white;
}

.orange {
  color: $orange;
}

.darkgray {
  color: $darkgray;
}

.text-center {
  text-align: center;
}

.sup {
  vertical-align: super;
}

.h2 {
  font-size: $font-size;
}

@media (min-width: $desktop-viewport) {
  .h2 {
    font-size: 38px;
  }
}
